<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %> <!---partial templete from lesson level up-->
  <h1>Full Menu</h1>
  <ul>
    <b> <% menu.forEach (function(item)  { %> </b> <!---need to figure out a better seperation--> 
        <li><b><%=item.name%> - $<%=item.price%></b> - 
            Rating <%=item.rating%> 
          - <%=item.details%></li>
    <% }); %>
    </ul>
    <h2>Mains</h2>
    <ul>
        <b> <% menu.forEach(function(item)  { %> </b>
        <% if(item.category == 'mains'){ %>
            <li><b><%=item.name%> - $<%=item.price%></b> - <!---level up question 2-->
                Rating <%=item.rating%> 
              - <%=item.details%></li>
        <% } %>
        <% }); %>
    </ul>
    <h2>Desserts</h2>
    <ul>
        <b> <% menu.forEach(function(item)  { %> </b>
        <% if(item.category == 'desserts'){ %>
            <li><b><%=item.name%> - $<%=item.price%></b> -
                Rating <%=item.rating%> 
              - <%=item.details%></li>
        <% } %>
        <% }); %>
    </ul>
    <h2>Sides</h2>
    <ul>
        <b> <% menu.forEach(function(item)  { %> </b>
        <% if(item.category == 'sides'){ %>
            <li><b><%=item.name%> - $<%=item.price%></b> -
                Rating <%=item.rating%> 
              - <%=item.details%></li>
        <% } %>
        <% }); %>
    </ul>

  

</body>
</html>
